.Logo{
    height: 95%;
    /*height: 70px;*/
    /*width: 100px;*/
    /*width: auto;*/
    /*display: flex;*/
    /*background-color: #e74c3c;*/
    /*flex-flow: row;*/
    top: 0;
    margin-bottom: 2px;
}

.LogoText{
    margin-top: 10px;
}

.LogoText:after {
    display: none;
    background-color: #060606;
    margin: 0;
}

.LogoImg{
    height: 55px;
}

@media only screen and (max-width: 768px){
    /*.Logo{height: 60px}*/
}

@media only screen and (max-width: 480px){
    /*.Logo{height: 80px}*/
}

/*@media screen and (max-width: 499px) {*/
/*    .Logo{*/
/*        text-align: center;*/
/*        display: flex;*/
/*        justify-content: space-around;*/
/*    }*/
/*}*/