.SideDrawer {
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    /*top: 10.8%;*/
    z-index: 200;
    background-color: #bdc3c7;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    overflow: hidden;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.SideDrawerClose{
    display: flex;
    justify-content: flex-end;
    /*background-color: #e74c3c;*/
}

.SideDrawerCloseDiv{
    width: 50px;
    color: #e74c3c;
    cursor: pointer;
    /*background-color: #e67e22;*/
}

.SideDrawerClose:after{
    display: none;
}

.DSTitle{
    color: #060606;
}

.Controller{
    width: 250px;
    height: auto;
    /*height: 450px;*/
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.22);
}

.Select{
    width: 230px;
    height: auto;
    /*height: 125px;*/
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    /*background-color: #3b5998;*/
}

/*.Select:first-of-type{*/
/*    margin-right: 15px;*/
/*}*/

.Select select{
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 10px 0;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 15px;
}

.SubmitButton{
    margin-top: 5px;
    width: 100px;
    font-size: 60%;
    padding-bottom: 25px;
    /*margin-left: 50px;*/
    /*background-color: #e67e22;*/
}


/*@media only screen and (max-width: 767px) {*/
/*    .SideDrawer {*/
/*        display: flex;*/
/*        flex-flow: column;*/
/*        position: fixed;*/
/*        width: 280px;*/
/*        max-width: 70%;*/
/*        height: 100%;*/
/*        left: 0;*/
/*        top: 0;*/
/*        z-index: 200;*/
/*        background-color: #bdc3c7;*/
/*        padding: 32px 16px;*/
/*        box-sizing: border-box;*/
/*        transition: transform 0.3s ease-out;*/
/*        overflow: hidden;*/
/*    }*/
/*}*/