.SlideShowContainer {
    width: 100%;
    position: relative;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-wrap: wrap;
    /*background-color: #bdc3c7;*/
    /*background-color: #e67e22;*/
}

/*----- Start Main Slider Style -----*/

.MainSlideShowContainer{
    max-width: 100%;
    position: relative;
    margin-top: -20px;
    /*margin: -100px auto auto auto;*/
}

/*.Text {*/
/*    color: #f2f2f2;*/
/*    font-size: 15px;*/
/*    padding: 8px 12px;*/
/*    position: absolute;*/
/*    bottom: 30px;*/
/*    width: 92%;*/
/*    margin: 0 4%;*/
/*    text-align: center;*/
/*    !*background-color: rgba(0, 0, 0, 0.8);*!*/

/*    background: rgb(0,0,0);*/
/*    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 80%, rgba(255,255,255,0) 100%);*/

/*}*/

.NumberText {
    /*color: #f2f2f2;*/
    color: #060606;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*----- End Main -----*/

.Prev, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    /*background-color: transparent;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none;
    /*background-color: #bdc3c7;*/
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
    /*background-color: red;*/
}

.Prev:hover,
.Next:hover {
    background-color: rgba(0,0,0,0.8);
}

.SlideShowData{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*background-color: #e67e22;*/
}