.Modal {
    position: fixed; /* Stay in place */
    z-index: 500; /* Sit on top */
    left: 10%;
    top: 15%;
    width: 80%; /* Full width */
    height: 75%; /* Full height */
    padding: 0;
    margin: 0;
    overflow: auto; /* Enable scroll if needed */
}

.ModalContent {
    background-color: #fefefe;
    margin: 0;
    /*padding: 20px 20px 20px 420px;*/
    /*padding: 20px;*/
    padding: 0;
    border: 1px solid #888;
    left: 0;
    top: 15%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    /*background-color: #e74c3c;*/
}

.ModalContent::-webkit-scrollbar { width: 0 }
.ModalContent {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* IE */
}

/*@media only screen and (max-width: 1900px){*/
/*    .Modal{*/
/*        width: 90%;*/
/*        height: 80%;*/
/*        left: 5%;*/
/*        width: 1500px;*/
/*        left: calc(50% - 550px);*/
    /*}*/
/*}*/

/*@media (min-width: 480px) {*/
/*    .Modal {*/
/*        width: 500px;*/
/*        left: calc(50% - 250px);*/
/*    }*/
/*}*/