/*------------------------------------------------*/
/* REUSEABLE COMPONENTS */
/*------------------------------------------------*/

.Row {
    max-width: 1140px;
    margin: 0 auto;
}

.Box {
    padding: 1%;
}

/*-----------PARAGRAPHS-----------*/

.LongCopy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.Box p {
    font-size: 90%;
    line-height: 145%;
}

/*-----------ICONS-----------*/
.IconBig {
    font-size: 350%;
    display: block;
    color: #060606;
    width: 50%;
    margin: 0 25%;
}

.IonIcon {
    font-size: 350%;
    display: block;
    color: #060606;
    width: 50%;
    margin: 0 25% 10px 25%;
}

/*-----------BACKGROUND_IMAGE-----------*/

.BackgroundImgOne{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.7)), url(/src/assets/images/g2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    /*z-index: -10;*/
    /*height: 100vh;*/
}

.BackgroundImgTwo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.7)), url(/src/assets/images/g3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    /*z-index: 999;*/
    /*padding-top: 60px;*/
    /*height: 100vh;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
}

.BackgroundImgThree {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.7)), url(/src/assets/images/g1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}