.ImageSlider{
    height: 100vh;
}

.SlideShowContainer {
    /*max-width: 90%;*/
    height: 90vh;
    width: 100%;
    /*position: relative;*/
    /*margin: auto;*/
    margin: -110px auto auto auto;
}

.SlideShowContainer img{
    width: 92%;
    height: 80vh;
    /*height: 500px;*/
    margin: 25px 4%;
    /*width: 100%;*/
    /*height: 90vh;*/
    /*height: auto;*/
    /*border-radius: 15px;*/
}

.MySlides {
    display: none;
}

.Prev, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #060606;
    background-color: transparent;
    background-image: linear-gradient(rgba(184, 184, 184, 0.7), rgba(184, 184, 184, 0.7));
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: none;
}

.Next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.Prev:hover,
.Next:hover {
    background-color: rgba(0,0,0,0.8);
}

.Text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    width: 92%;
    margin: 8px 4%;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.8);*/

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 80%, rgba(255,255,255,0) 100%);

}

.NumberText {
    /*color: #f2f2f2;*/
    color: #060606;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-image: linear-gradient(rgba(184, 184, 184, 0.5), rgba(184, 184, 184, 0.5));
}

.Dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.Active, .Dot:hover {
    background-color: #717171;
}

/* Fading animation */
.Fade {
    -webkit-animation-name: Fade;
    -webkit-animation-duration: 1.5s;
    animation-name: Fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes Fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes Fade {
    from {opacity: .4}
    to {opacity: 1}
}


.Featured{
    /*width: 32.21%;*/
    /*width: 400px;*/
    width: 58vh;
    /*height: 40vh;*/
    display: inline-block;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.FeaturedImg{
    margin: 0 10px;
    width: 30px;
    border-radius: 5px;
    transition: 0.5s transform;
}

.FeaturedImg:first-of-type{
    margin-left: 0;
}

.FeaturedImg:last-of-type{
    margin-right: 0;
}

.FeaturedImg:hover{
    transform: scale(1.05);
    -webkit-border-radius:5px;
}

@media only screen and (max-width: 480px) {
    .Text{bottom: 28px}
    .SlideShowContainer img{height: 50vh;}
}