.About {
    height: 500px;
    /*background-color: #bdc3c7;*/
}

.Title{
    color: white;
}

.Title:after{
    background-color: white;
}

.Description{
    color: white;
}

@media only screen and (max-width: 700px){
    .About{ height: 600px;}
}

@media only screen and (max-width: 460px){
    .About{ height: 700px;}
}

@media only screen and (max-width: 350px){
    .About{ height: 850px;}
}

