.Loader{
    box-sizing:border-box;
    width: 100px;
    height: 100px;
    margin: 75px auto;
    /*position:absolute;*/
    /*display: inline-block;*/
    /*text-align: center;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*margin-left: -4em;*/
    /*margin: 20vh 45vw;*/
}

.Spinner{
    /*position:absolute;*/
    width:100%;
    height:100%;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    animation : rotation0 30s infinite linear, resize 10s infinite linear;
}

.Container{
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
}

.Hex0, .Hex120, .Hex240{
    position:absolute;
    box-sizing:border-box;
    width:100%;
    height:57.74%;
    left:0;
    top:21.13%;
    border-left:2px solid #060606;
    border-right:2px solid #060606;
    background-color: rgba(189, 195, 199, 0.20);
}

.Hex0{
    animation:rotation0 4s infinite linear;
}

.Hex120{
    transform:rotate(120deg);
    animation:rotation120 4s infinite linear;
}

.Hex240{
    transform:rotate(240deg);
    animation:rotation240 4s infinite linear;
}

@keyframes rotation0{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes rotation120{
    0%{
        transform:rotate(120deg);
    }
    100%{
        transform:rotate(480deg);
    }
}

@keyframes rotation240{
    0%{
        transform:rotate(240deg);
    }
    100%{
        transform:rotate(600deg);
    }
}

@keyframes resize{
    0%,33.33%,66.66%,100%{
        width:100%;
        height:100%;
        left:0;
        top:0;
    }
    16.66%,49.99%, 83.333%{
        width:100%;
        height:100%;
        left:0;
        top:0;
    }
}

/*.Spinner {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    margin: 100px auto;*/
/*}*/

/*.Spinner .Cube {*/
/*    width: 33%;*/
/*    height: 33%;*/
/*    background-color: #060606;*/
/*    float: left;*/
/*    -webkit-animation: CubeGridScaleDelay 1.3s infinite ease-in-out;*/
/*    animation: CubeGridScaleDelay 1.3s infinite ease-in-out;*/
/*}*/
/*.Spinner .Cube1 {*/
/*    -webkit-animation-delay: 0.2s;*/
/*    animation-delay: 0.2s; }*/
/*.Spinner .Cube2 {*/
/*    -webkit-animation-delay: 0.3s;*/
/*    animation-delay: 0.3s; }*/
/*.Spinner .Cube3 {*/
/*    -webkit-animation-delay: 0.4s;*/
/*    animation-delay: 0.4s; }*/
/*.Spinner .Cube4 {*/
/*    -webkit-animation-delay: 0.1s;*/
/*    animation-delay: 0.1s; }*/
/*.Spinner .Cube5 {*/
/*    -webkit-animation-delay: 0.2s;*/
/*    animation-delay: 0.2s; }*/
/*.Spinner .Cube6 {*/
/*    -webkit-animation-delay: 0.3s;*/
/*    animation-delay: 0.3s; }*/
/*.Spinner .Cube7 {*/
/*    -webkit-animation-delay: 0s;*/
/*    animation-delay: 0s; }*/
/*.Spinner .Cube8 {*/
/*    -webkit-animation-delay: 0.1s;*/
/*    animation-delay: 0.1s; }*/
/*.Spinner .Cube9 {*/
/*    -webkit-animation-delay: 0.2s;*/
/*    animation-delay: 0.2s; }*/

/*@-webkit-keyframes CubeGridScaleDelay {*/
/*    0%, 70%, 100% {*/
/*        -webkit-transform: scale3D(1, 1, 1);*/
/*        transform: scale3D(1, 1, 1);*/
/*    } 35% {*/
/*          -webkit-transform: scale3D(0, 0, 1);*/
/*          transform: scale3D(0, 0, 1);*/
/*      }*/
/*}*/

/*@keyframes CubeGridScaleDelay {*/
/*    0%, 70%, 100% {*/
/*        -webkit-transform: scale3D(1, 1, 1);*/
/*        transform: scale3D(1, 1, 1);*/
/*    } 35% {*/
/*          -webkit-transform: scale3D(0, 0, 1);*/
/*          transform: scale3D(0, 0, 1);*/
/*      }*/
/*}*/