.SignUpSection{
    width: 100%;
    height: auto;
    /*background-color: #bdc3c7;*/
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    align-content: center;
    /*background-color: #e3301e;*/
}

.SignUpForm{
    width: 40%;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.SignUpButtons{
    /*background-color: #e3301e;*/
    /*width: 30%;*/
    width: 100%;
    display: flex;
    margin: 50px 5% 10px 5%;
    justify-content: space-between;
}
.SignUpButtons div{
    width: 45%;
}


@media only screen and (max-width: 480px) {
    .SignUpForm{
        width: 80%;
    }
    .SignUpButtons{
        width: 90%;
        font-size: 75%;
    }
}