.MainSlider{
    padding-top: 40px;
    /*background-color: #bdc3c7;*/
}

.MainSlider h2{
    color: #fdfdfe;
    /*margin-top: -55px;*/
    margin-bottom: 35px;
}

.MainSlider h2:after{
    /*display: none;*/
    margin-top: 15px;
    margin-bottom: 50px;
    background-color: #fdfdfe;
}

@media only screen and (max-width: 480px) {
    .MainSlider{height: 80vh;}
}