.Input,
.BigInput,
.TextAreaInput,
.SelectInput{
    /*width: 100%;*/
    /*width: 300px;*/
    /*padding: 10px;*/
    padding: 0 5px;
    box-sizing: border-box;
    /*height: 10px;*/
    /*flex-wrap: wrap;*/
    /*display: flex;*/
    /*background-color: #ed7669*/
    text-align: left;
}

.Input {
    width: 50%;
}

.BigInput {
    width: 100%;
}

.TextAreaInput {
    width: 100%;
}

.SelectInput {
    width: 50%;
}

/*.Input{width: 250px;}*/
/*.BigInput{width: 350px;}*/
/*.TextAreaInput{width: 350px;}*/
/*.SelectInput{width: 250px;}*/

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

::placeholder {
    color: #686868;
}

.InputElement,
.BigInputElement,
.TextAreaElement,
.SelectElement {
    width: 100%;
    /*    width: 350px;*/
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 15px;
}

.InputElement:focus,
.BigInputElement:focus,
.TextAreaElement:focus,
.SelectElement:focus {
    border: 3px solid #7d8990;
}

/*.InputElement{ width: 50%}*/
/*.BigInputElement{ width: 100%}*/
/*.TextAreaElement{ width: 100%;}*/
/*.SelectElement{ width: 50%;}*/


/*.InputElement {*/
/*    outline: none;*/
/*    border: 1px solid #bdc3c7;*/
/*    background-color: white;*/
/*    font: inherit;*/
/*    padding: 6px 10px;*/
/*    display: block;*/
/*    width: 100%;*/
/*    box-sizing: border-box;*/
/*}*/

/*.InputElement:focus {*/
/*    outline: none;*/
/*    background-color: #bdc3c7;*/
/*}*/

.Invalid {
    border: 3px solid #c0392b;
    background-color: #dc6f64;
    color: #060606;
}

.InvalidMessage {
    /*background-color: #7b241b;*/
    /*background-color: #ed7669;*/
    /*color: #060606;*/
    color: #c0392b;
    width: 105px;
    margin-left: 5px;
    padding-left: 10px;
    font-size: 80%;
    font-weight: bold;
    /*text-align: center;*/
}


/*-----SearchBar Form-----*/

.SearchInput,
.SearchSelect {
    height: 35px;
}

.SearchInput{
    position: relative;
    width: 70%;
}

.SearchSelect{
    width: 20%;
}

.SearchSelectElement,
.SearchInputElement{
    width: 100%;
    height: 35px;
    padding: 6px;
    border: none;
}

.SearchSelectElement {
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    /*background-color: #e67e22;*/
}

.SearchInputElement {
    font-size: 100%;
    /*background-color: #7b241b;*/
}

.SearchSelectElement:focus,
.SearchInputElement:focus {
    outline: none;
}

@media only screen and (max-width: 767px) {
    .SearchSelect{width: 30%}
    .SearchInput{width: 50%}
}