footer{
    height: 250px;
    color: #fdfdfe;
    padding: 40px;
    font-size: 80%;
    width: auto;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    z-index: 200;
    background-color: #060606;
    /*background-color: #bdc3c7;*/
}

.FooterIcons{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    /*background-color: blue;*/
}

.FooterLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #e67e22;*/
}

.FooterNav,
.SocialLinks {
    list-style: none;
    /*width: 450px;*/
    /*width: 40%;*/
    height: 75px;
    display: flex;
    /*background-color: #7b241b;*/
}

.FooterNav{
    /*margin-top: 25px;*/
    justify-content: flex-start;
    /*background-color: #3b5998;*/
}

.SocialLinks{
    /*margin-top: -20px;*/
    justify-content: flex-end;
    /*background-color: #2ecc71;*/
}

.FooterNav li,
.SocialLinks li{
    margin-right: 20px;
}

.FooterNav li:last-child,
.SocialLinks li:last-child {
    margin: 0;
}

.FooterNav li a:link,
.FooterNav li a:visited,
.SocialLinks li a:link,
.SocialLinks li a:visited {
    text-decoration: none;
    border: 0;
    color: #fdfdfe;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.FooterNav li a:hover,
.FooterNav li a:active {
    color: #ddd;
}

.SocialLinks li a:hover,
.SocialLinks li a:active {
    color: #e67e22;
}

.SocialLinks li a:link,
.SocialLinks li a:visited {
    font-size: 160%;
}

/* ------- for svg ------- */

.WhatsApp path,
.Facebook path,
.Twitter path,
.Google path,
.Instagram path {
    transition: 250ms;
}

.WhatsApp:hover path{
    fill: #25D366;
}

.Facebook:hover path{
    fill: #3b5998;
}

.Twitter:hover path{
    fill: #55acee;
}

.Google:hover path{
    fill: #dd4b39;
}

.Instagram:hover path{
    fill: #e95950;
}

.Copy{
    /*margin-top: 10vh;*/
    text-align: center;
}

@media only screen and (max-width: 767px){
    footer{
        height: 300px;
    }

    .FooterLinks{
        flex-flow: column;
        /*background-color: #2ecc71;*/
    }
}

/*@media screen and (max-width: 480px) {*/
    /*footer{font-size: 60%;}*/
/*}*/

@media screen and (max-width: 280px) {
    footer{font-size: 60%;}
    /*footer{height: 35vh;}*/
    /*.FooterIcons{*/
        /*height: 25vh;*/
        /*align-content: center;*/
        /*align-items: center;*/
        /*display: flex;*/
        /*justify-content: space-between;*/
        /*flex-flow: column;*/
    /*}*/
    /*.FooterNav{margin-top: 5px; text-align: center}*/
    /*.SocialLinks{margin-top: 25px;}*/
    /*.Copy{margin-top: 25px;}*/
}