.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 270px;
    height: auto;
    /*height: 380px;*/
    /*width: 50vh;*/
    /*width: 350px;*/
    overflow: hidden;
    background-color: rgba(6, 6, 6, 0.6)
}

.Card:hover{
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
}

.Image{
    width: 270px;
    height: 380px;
    /*height: 60vh;*/
    /*height: 400px;*/
    transition: 300ms transform;
}

.Image:hover{
    transform: scale(1.05, 1.03);
}

.Container {
    height: 75px;
    margin-top: 10px;
    padding: 2px 16px;
    text-align: center;
    color: white;
}

.Container p {
    font-size: 17px;
}

@media only screen and (max-width: 1023px) {
    /*.Card{ width: 35vh;}*/
    /*.Image{ height: 50vh;}*/
    /*.Container p{font-size: 15px;}*/
}

@media only screen and (max-width: 767px) {
    /*.Card{ width: 30vh;}*/
    /*.Image{height: 40vh;}*/
    /*.Container{font-size: 17px;}*/
    /*.Container p{font-size: 15px;}*/
}

@media only screen and (max-width: 480px) {
    /*.Card{*/
    /*    width: 40vh;*/
    /*    margin-bottom: 35px;*/
    /*}*/
    /*.Image{ height: 50vh;}*/
    /*.Container{*/
    /*    font-size: 17px;*/
    /*}*/
}