.SocialLinks{
    /*height: 100px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    margin-top: 50px;
    /*padding-top: 25px;*/
    /*background-color: #7b241b;*/
}

.FooterLinks{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*background-color: #e67e22;*/
}

.SocialLinksIcons {
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #060606;
    border-bottom: 1px solid #060606;
    padding: 15px 0;
    /*flex-wrap: wrap;*/
    /*background-color: #7b241b;*/
}

.SocialLinksIcons li{
    /*width: 100px;*/
    margin-right: 75px;
    /*background-color: #e67e22;*/
}

.SocialLinksIcons li:last-child {
    margin: 0;
    /*background-color: #3b5998;*/
}

.SocialLinksIcons li a:link,
.SocialLinksIcons li a:visited {
    text-decoration: none;
    border: 0;
    color: #fdfdfe;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    /*background-color: #2ecc71;*/
}

.SocialLinksIcons li a:hover,
.SocialLinksIcons li a:active {
    color: #e67e22;
}

.SocialLinksIcons li a:link,
.SocialLinksIcons li a:visited {
    font-size: 160%;
}

/* ------- for svg ------- */

.WhatsApp path,
.Facebook path,
.Twitter path,
.Google path,
.Instagram path {
    transition: 250ms;
}

.WhatsApp:hover path{
    fill: #25D366;
}

.Facebook:hover path{
    fill: #3b5998;
}

.Twitter:hover path{
    fill: #55acee;
}

.Google:hover path{
    fill: #dd4b39;
}

.Instagram:hover path{
    fill: #e95950;
}

@media only screen and (max-width: 600px){
    .SocialLinksIcons li{margin-right: 50px;}
}

@media only screen and (max-width: 444px){
    .SocialLinksIcons li{margin-right: 25px;}
}

@media only screen and (max-width: 320px){
    .SocialLinksIcons li{margin-right: 15px;}
}