.SignInSection{
    width: 100%;
    /*background-color: #bdc3c7;*/
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    align-content: center;
    /*background-color: #e3301e;*/
}

.SignInForm{
    width: 40%;
}

.SignInButtons{
    /*background-color: #e3301e;*/
    /*width: 30%;*/
    display: flex;
    margin: 50px 5% 10px 5%;
    justify-content: space-between;
}

.SignInButtons div{
    width: 45%;
}


@media only screen and (max-width: 480px) {
    .SignInForm{
        width: 80%;
    }
    .SignInButtons{
        width: 90%;
        font-size: 75%;
    }
}