.MyCart {
    height: auto;
    /*background-color: #25a25a;*/
}

.MyCart table {
    /*width: 100%;*/
    background-color: #bdc3c7;
}

.MyOrderCart {
    /*width: 40%;*/
    margin: 0 2%;
    font-size: 80%;
    padding-top: 0;
    /*background-color: #ed7669;*/
}

.MyOrderCart table {
    background-color: #bdc3c7;
}

.MyOrderCart h3 {
    text-align: center;
    font-size: 180%;
    margin-bottom: 50px;
}

.MyOrderCart .Controller {
    /*display: none;*/
    font-size: 100%;
    /*padding: 0 75px;*/
    width: 250px;
    /*background-color: #ed7669;*/
}

.MyOrderCart,
.HoverMyCart {
    height: auto;
    /*overflow: hidden;*/
    /*height: 300vh;*/
}

.HoverMyCart {
    /*height: auto;*/
    margin-top: 0;
    padding-top: 25px;
    /*background-color: #e67e22;*/
}

.HoverMyCart .Controller {
    display: none;
}

.HoverMyCart h2:after {
    display: none;
}

.HoverMyCart table {
    color: white;
}

.HoverMyCart tr {
    background-color: transparent;
}

.HoverMyCart .Total {
    justify-content: center;
    margin-right: 0;
}

.TableContent {
    /*height: 60vh;*/
    /*overflow-y: auto;*/
    /*background-color: peru;*/
}

/*.TableContent::-webkit-scrollbar { width: 0 }*/
/*.TableContent {*/
/*    overflow: -moz-scrollbars-none; !* Firefox *!*/
/*    -ms-overflow-style: none; !* IE *!*/
/*}*/

table {
    border-collapse: collapse;
    width: 100%;
    /*width: 80%;*/
    color: #060606;
    /*background-color: #bdc3c7;*/
}

tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    /*width: auto;*/
    border-bottom: 5px solid white;
    /*background-color: #e74c3c;*/
}

th, td {
    /*text-align: left;*/
    width: 18%;
    text-align: center;
    padding: 2%;
}

/*th{*/
/*    background-color: #7b241b;*/
/*}*/

/*td{*/
/*    background-color: #e67e22;*/
/*}*/

thead {
    width: 100%;
    display: table;
}

thead tr {
    background-color: white;
}

tbody {
    /*display: block;*/
    /*width: 100%;*/
    max-height: 50vh;
    overflow-y: auto;
}

tbody::-webkit-scrollbar {
    width: 0
}

tbody {
    overflow: -moz-scrollbars-none; /* Firefox */
    -ms-overflow-style: none; /* IE */
}

/*th, td {*/
/*    width: 10%;*/
/*}*/

tfoot th {
    background-color: white;
    /*margin-bottom: ;*/
}

.MyCartBody {
    /*overflow-y: auto;*/
    /*height: 800px;*/
    /*background-color: #e67e22;*/
}

/*.MyCartBody::-webkit-scrollbar { width: 0 }*/
/*.MyCartBody {*/
/*    overflow: -moz-scrollbars-none; !* Firefox *!*/
/*    -ms-overflow-style: none; !* IE *!*/
/*}*/

.Total {
    display: flex;
    justify-content: flex-end;
    /*justify-content: center;*/
    align-items: baseline;
    padding-right: 100px;
    /*margin-right: 80px;*/
    margin-top: 25px;
    /*background-color: #25a25a;*/
}

.HoverMyCart .Total {
    font-size: 80%;
    margin-left: 100px;
    /*background-color: #7b241b;*/
}

.Total p {
    font-size: 80%;
}

.Total h2, h3 {
    /*font-size: 180%;*/
    /*word-spacing: 2px;*/
    text-align: right;
    margin-bottom: 20px;
    /*letter-spacing: 1px;*/
}

.Total h2:after {
    display: none;
}


.Image {
    /*margin: 5px 10px;*/
    width: 80px;
    height: 113px;
    /*width: 210px;*/
    /*height: 320px;*/
}

.HoverImage {
    width: 50px;
    height: 70px;
}

.Description {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.Controller {
    /*background-color: #ed7669;*/
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    /*margin-right: 80px;*/
    font-size: 60%;
    /*background-color: #e67e22;*/
}

.Controller div {
    width: 120px;
    margin-left: 5px;
}

.QuantityController {
    display: flex;
    width: auto;
    /*padding-left: 300px;*/
    justify-content: center;
    align-content: center;
    /*background-color: #ed7669;*/
}

.ValueButton {
    border: 1px solid #060606;
    width: 25px;
    background-color: #bdc3c7;
    /*height: 20px;*/
    border-radius: 50px;
}

.ValueButton:hover {
    cursor: pointer;
    background-color: #555;
}

.QuantityInput {
    width: 30px;
    text-align: center;
    outline: none;
}

.Deletion {
    /*width: 25px;*/
    color: #dc6f64;
    /*background-color: #e67e22;*/
}

.Deletion:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    th, td {
        width: 15%;
    }
}

@media only screen and (max-width: 768px) {
    .HoverMyCart .Total {margin-left: 80px;}

    th, td {width: 20%;}

    .Total{padding-right: 60px}

    .Controller{padding: 0 40px 0 80px;}
}

@media only screen and (max-width: 600px) {
    .MyCart{
        font-size: 80%;
    }

    .Image {
        width: 70px;
        height: 99px;
    }

    th, td {
        width: 20%;
    }

    .QuantityInput {
        width: 20px;
    }

    /*.Total{padding-right: 25px}*/

    /*.Controller{padding: 0 10px 0 100px;}*/
}

@media only screen and (max-width: 480px) {
    .TableContent{
        font-size: 70%;
    }

    .ValueButton{
        width: 15px;
        /*font-size: 90%;*/
    }

    .HoverMyCart{
        font-size: 80%;
    }

    .HoverMyCart .Total {margin-left: 60px;}

    .Image {
        width: 60px;
        height: 84px;
    }

    th, td {
        width: 30%;
    }

    .QuantityInput {
        width: 15px;
    }

    /*.Total{padding-right: 25px}*/

    /*.Controller{padding: 0 10px 0 100px;}*/
}

@media only screen and (max-width: 320px) {
    .MyCart{
        /*font-size: 50%;*/
    }

    .HoverMyCart{
        font-size: 60%;
    }

    .Image {
        width: 50px;
        height: 70px;
    }

    th, td {
        width: 30%;
    }

    .Total{padding-right: 25px}

    .Controller{padding: 0 15px 0 80px;}
}