.DrawerToggle {
    width: 35px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    box-sizing: border-box;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #060606;
}

.DrawerToggle div:last-of-type{
    line-height: 225%;
    font-size: 12px;
}

@media (min-width: 767px) {
    .DrawerToggle {
        display: none;
    }
}